{% extends "blog/base.html" %}
{% block content %}
	<h1>My Portfolio</h1>
	<section class="projects">

        <div class="content-wrap divider">
         

          <!-- CASA  -->
         
          <section class="project-item" style="margin-top:5%;">
            <img style="float:left; padding-right: 2%;" width="300" src="https://mazzo-django-blog-files.s3-us-west-2.amazonaws.com/app_screenshots/casa.png" alt="Colorado Amateur Soccer Association website screenshot">
            <h3>WordPress eCommerce</h3>
            <p>Migrated a stand-alone PHP e-commerce application to WordPress.  The app registers players, teams and coaches to play in a league within a robust amateur soccer association in Colorado. I created a child theme, custom pages,and plugins as a solution for re-building the registration sequence for four different registration paths. I used Bootstrap to transform the front end of an app written ten years ago, to something more mobile and user friendly, in the modern era.</p>
            <a style="float:right;" class="btn" href="https://www.soccercasa.com/" target="_blank">view live site</a>
          </section>
       

          <!-- PHP Site -->
          <section class="project-item" style="clear:left;margin-top:2%;">

           <img style="float:left; padding-right: 1%;" width="300" src="https://mazzo-django-blog-files.s3-us-west-2.amazonaws.com/app_screenshots/php.png" alt="PHP website screenshot">
            <h3>PHP Web App</h3>
            <p>This was my first web app, developed in 2014. The central theme of all my apps is my art work. My paintings specifically. I view the web space as a platform to display or exhibit my art, as well as demonstrate my understanding and use of whatever technology or framework I decided to use for the project. This app is similar to Flickr (it was 2014...), and it allows a user to create an account and upload photos to a photo gallery. It is also displaying a collapsible accordion of news feeds, playing HTML5 video, using CSS rotation to play with words and rotating some photos.  All CRUD operations are supported.  </p>
            <a class="btn" href="https://mazzo-php-app.herokuapp.com/" target="_blank">view live site</a>
          </section>

          <!-- Java Site -->
          <section class="project-item" style="clear:left;margin-top:2%;">

           <img style="float:left; padding-right: 1%;" width="300" src="https://mazzo-django-blog-files.s3-us-west-2.amazonaws.com/app_screenshots/java.png" alt="Angular table demo website screenshot">
            <h3>Java Web App</h3>
            <p>Expanding on my PHP app and using my art as the theme again, 
            I created an auctioning app similar to eBay. Allows a user to create an account, and create an auction item.  In this case I have created ficticious auction items using my paintings.  The items are displayed and listed by most popular and items whos auction date ends soon.</p>
            <a class="btn" href="http://play-auction-app.osc-fr1.scalingo.io/" target="_blank">view live site</a>
          </section>

          <!-- Angular 2 -->
          <section class="project-item" style="clear:left;margin-top:2%;">
           <img style="float:left; padding-right: 1%;" width="300" src="https://mazzo-django-blog-files.s3-us-west-2.amazonaws.com/app_screenshots/angular.png" alt="Angular demo website screenshot">
            <h3>Angular 2 Web App</h3>
            <p>I view the web space as a platform to display or exhibit my art, as well as demonstrate my understanding and use of whatever technology or framework I decided to use for the project. Centrally the app functions as a blogging platform supporting all CRUD operations.  There is also a search component.  It searches a repository of my paintings.  When the user clicks on an item returned, the item is embedded into the page. The app also consumes a weather api allowing users to query the current temperature for a given city.</p>
            <a class="btn" href="https://mazzo-angular-app.herokuapp.com/" target="_blank">view live site</a>
          </section>

           <!-- Angular Table -->
          <section class="project-item" style="clear:left;margin-top:2%;">

           <img style="float:left; padding-right: 1%;" width="300" src="https://mazzo-django-blog-files.s3-us-west-2.amazonaws.com/app_screenshots/angular-table.png" alt="Angular table demo website screenshot">
            <h3>Angular Table</h3>
            <p>This table uses Angular 4, 5, and Material Design. I created this 
            demo in response to a coding challenge. The ficticious employee data
            in the table is coming from a web service. </p>
            <a class="btn" href="https://employee-table-app.herokuapp.com/" target="_blank">view live site</a>
          </section>

          <!-- React -->
          <section class="project-item" style="clear:left;margin-top:2%;">

           <img style="float:left; padding-right: 1%;" width="300" src="https://mazzo-django-blog-files.s3-us-west-2.amazonaws.com/app_screenshots/react.png" alt="React demo website screenshot">
            <h3>React Web App</h3>
            <p>I wanted to learn the top three front end frameworks so this React
            demo allows a user to play a game of tic tac toe with an AI. It 
             allows a user to be authenticated using oAuth, so that a user's games
             can then be saved to a GraphQL database via the Relay data store.</p>
            <a class="btn" href="https://mazzo-react-test.herokuapp.com/" target="_blank">view live site</a>
          </section>

          <!-- Vue -->
          <section class="project-item" style="clear:left;margin-top:2%;">

           <img style="float:left; padding-right: 1%;" width="300" src="https://mazzo-django-blog-files.s3-us-west-2.amazonaws.com/app_screenshots/vue.png" alt="Vue demo website screenshot">
            <h3>Vue Demo</h3>
            <p>This demo is consuming data from the NASA api about near Earth 
            objects. </p>
            <a class="btn" href="https://vue-mazzo.herokuapp.com/" target="_blank">view live site</a>
          </section>

         

          

        </div>
      </section>

{% endblock content %}